---
layout: default
title: Full Episodes
permalink: /episodes/index.html
paginate:
  collection: episodes
  limit: false
  tag: full
---
<header style="margin-bottom:0.5em">
  <h2>{{page.title}}</h2>
  <p>
    <span style="font-size:0.7em">Interested in partial/incompletely recorded episodes? Click <a href="/tag/fragment">here</a></span>.
    <br style="display:block">
    {{paginator.page | minus: 1 | times:paginator.per_page}} to {{paginator.page | times:paginator.per_page}} of {{paginator.total_episodes}} <br style="display:block">
    {% if paginator.previous_page_path %}
    <a href="{{paginator.previous_page_path}}">Previous Page</a>
    {% endif %}
    {% if paginator.previous_page_path and paginator.next_page_path %}
     --
    {% endif %}
    {% if paginator.next_page_path %}
    <a href="{{paginator.next_page_path}}">Next Page</a>
    {% endif %}
  </p>
</header>
{% include search.html %}
{% for episode in paginator.episodes %}
  <div class="box">
    <a href='{{episode.url | remove: '.html' }}'><h3 style="color:inherit">{{episode.name | default: 'Untitled'}}</h3></a>
    <p style="margin-bottom:1em">{{episode.description | strip_html | truncatewords: 50 | default: 'No description'}}</p>
    <p class="no-margin-bottom">{{episode.date | date:"%m/%d/%y"}}</p>
    {% if episode.tags != empty %}
    <div class="episode-tags">
      Tagged:
      {% for tag in episode.tags %}
        <a href='/tag/{{tag}}'>{{tag}}</a>{% unless forloop.last %},{% endunless %}
      {% endfor %}
    </div>
    {% endif %}
  </div>
{% endfor %}
<p style="text-align:center">
  {% if paginator.previous_page_path %}
  <a href="{{paginator.previous_page_path}}">Previous Page</a>
  {% endif %}
  {% if paginator.previous_page_path and paginator.next_page_path %}
   --
  {% endif %}
  {% if paginator.next_page_path %}
  <a href="{{paginator.next_page_path}}">Next Page</a>
  {% endif %}
</p>