---
---
<!DOCTYPE HTML>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
	{% include head.html %}

	<body>
		<div id="page-wrapper">

			<!-- Header -->
			{% include header.html %}

			<!-- Main -->
				<section id="main" class="container">
					{{content}}
				</section>

			{% include footer.html %}

		</div>

		<!-- Scripts -->
		<script src="/js/jquery.min.js"></script>
		<script src="/js/jquery.dropotron.min.js"></script>
		<script src="/js/jquery.scrollgress.min.js"></script>
		<script src="/js/skel.min.js"></script>
		<script src="/js/util.js"></script>
		<!--[if lte IE 8]><script src="/js/ie/respond.min.js"></script><![endif]-->
		<script src="/js/main.js"></script>

	</body>
</html>